---
type Props = { path: string; totalPages: number; currentPage: number };
const { path, totalPages, currentPage } = Astro.props;

const buttons: string[] = [];

for (let index = 0; index < totalPages; index++) {
  const page: number = index + 1;
  let pageBtn: string = "";

  if (page == currentPage) {
    pageBtn = `<span class="join-item btn btn-active">${page}</span>`;
  } else {
    let link: string;

    if (page > 1) {
      link = `${path}/${page}`;
    } else {
      link = path != "/blog" ? path : "/";
    }
    pageBtn = `<a href="${link}" class="join-item btn">${page}</a>`;
  }
  buttons.push(pageBtn);
}
---

{
  totalPages > 1 ? (
    <div class="join mb-8">
      <Fragment set:html={buttons} />
    </div>
  ) : null
}
